.btn {
  border: none;
  outline: 2px solid var(--col-background-prmy);

  background-color: var(--col-background-sec);
  color: var(--col-text-tri);

  padding: 0.75em 3em;

  font-size: var(--fs-sec);
  font-weight: var(--fw-sec);
  text-transform: uppercase;

  cursor: pointer;
}
