.header {
  background-color: var(--col-background-sec);

  /* min-height: 50vh; */
  min-width: 100vw;
  padding: 1.25em;
}

.header_title {
  font-weight: var(--fw-tri);
  font-size: var(--fs-four);
  color: var(--col-text-tri);
  text-align: center;
}

.header_text {
  text-align: center;
  color: var(--col-text-tri);

  margin-top: 1.75em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-bottom: 5em;
}

.header_text_subTitle {
  font-weight: var(--fw-sec);
  font-size: var(--fs-tri);
}

.headerBtn {
  margin-top: 1.75em;
}

.midSection,
.highlightSection,
.gatheringSection {
  padding: 1.5em;
  /* margin: 0 auto; */
}

.midSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.highlightSection {
  background-color: var(--col-background-sec);
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.highlight_Text {
  color: var(--col-text-tri);
}

.highlight_Text_subHeader {
  font-size: var(--fs-tri);
  font-weight: var(--fw-tri);
  text-align: center;
}

.highlight_Text_subHeader::before {
  content: "O ------------";
  font-size: 0.65rem;
  display: block;
  margin-bottom: 2em;

  color: var(--col-acc-sec);
}

.highlight_Text_Description {
  color: var(--col-text-sec);
  text-align: center;
}

.gatheringSection {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  grid-auto-flow: dense;

  gap: 1.5em;

  max-width: 1440px;

  margin-top: 3em;
}

.gathering_ImgCon {
  width: 100%;
  position: relative;
}

.gathering_Options {
  grid-row: 2/3;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.gathering_Options_optionText {
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--fw-tri);
  color: var(--col-text-sec);
}

.gathering_Options_optionText:first-child {
  font-size: var(--fs-sec);
  color: var(--col-text-prmy);
}

.gathering_Options_optionText:first-child::after {
  content: "";
  display: block;
  border: 1px solid var(--col-acc-sec);
  width: 20%;
  margin: 0 auto;
}

.gathering_Text {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.gathering_Text_Header {
  font-weight: var(--fw-tri);
  font-size: var(--fs-four);
}

.gathering_Text_Description {
  color: var(--col-text-sec);
}

.footer {
  background-color: var(--col-background-sec);
  padding: 1.25em;
  margin-top: 3em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2.5em;

  color: var(--col-text-tri);
}

.footer_Title {
  font-weight: var(--fw-tri);
  font-size: var(--fs-four);
  color: var(--col-text-tri);
  text-align: center;
}

.footer_Location,
.footer_Time {
  text-transform: uppercase;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 0.55em;
}

@media screen and (min-width: 50rem) {
  .header {
    min-height: 0vh;
  }

  .header_title {
    text-align: left;
  }

  .header_text {
    text-align: left;
  }

  .highlightSection {
    flex-direction: row;
  }

  .highlight_Text_subHeader,
  .highlight_Text_Description {
    text-align: left;
    width: 50%;
  }

  .gatheringSection {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, 1fr);
    gap: 3em;
  }

  .gathering_ImgCon {
    grid-column: 1/2;
    grid-row: 1 / span 2;
  }

  .gathering_Text {
    text-align: left;
  }

  .gathering_Text_Description {
    width: 60%;
  }

  .gathering_Text_btn {
    align-self: flex-start;
  }

  .gathering_Options_optionText {
    text-align: left;
  }

  .gathering_Options_optionText:first-child::after {
    display: none;
  }

  .footer {
    flex-direction: row;
  }

  .footer_Location,
  .footer_Time {
    text-align: left;
  }
}

@media screen and (min-width: 60rem) {
  .gathering_Text_Description {
    width: 100%;
  }
}
