.header {
  background-color: var(--col-background-sec);

  /* min-height: 50vh; */
  min-width: 100vw;
  padding: 1.25em;
}

.header_title {
  font-weight: var(--fw-tri);
  font-size: var(--fs-four);
  color: var(--col-text-tri);
  text-align: center;
}

.header_text {
  text-align: center;
  color: var(--col-text-tri);

  margin-top: 1.75em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-bottom: 5em;
}

.header_text_subTitle {
  font-weight: var(--fw-sec);
  font-size: var(--fs-tri);
}

.headerBtn {
  margin-top: 1.75em;
}

.midSection,
.highlightSection {
  padding: 1.5em;
  /* margin: 0 auto; */
}

.midSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.highlightSection {
  background-color: var(--col-background-sec);
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.highlight_Text {
  color: var(--col-text-tri);
}

.highlight_Text_subHeader {
  font-size: var(--fs-tri);
  font-weight: var(--fw-tri);
  text-align: center;
}

.highlight_Text_subHeader::before {
  content: "O ------------";
  font-size: 0.65rem;
  display: block;
  margin-bottom: 2em;

  color: var(--col-acc-sec);
}

.highlight_Text_Description {
  color: var(--col-text-sec);
  text-align: center;
}
@media screen and (min-width: 50rem) {
  .header {
    min-height: 0vh;
  }

  .header_title {
    text-align: left;
  }

  .header_text {
    text-align: left;
  }

  .highlightSection {
    flex-direction: row;
  }

  .highlight_Text_subHeader,
  .highlight_Text_Description {
    text-align: left;
    width: 50%;
  }
}
